language: python

python:
    - 3.7

os: linux
dist: ubuntu
sudo: required
before_install:
    - sudo apt-get install texlive-latex-base

install:
    - pip install -r requirements.txt

script:
    - python Module_test.py
