language: generic


dist: bionic

install:
    #- sudo apt-get install lmodern
    #- sudo apt install texlive-latex-base
    - source ./texlive/texlive_install.sh
    - pip3 install --user -r requirements.txt


cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive

#before_script: cd $TRAVIS_BUILD_DIR/src/

addons:
  apt:
    packages:
      - python3-pip
      - python3.4


script:
  - python3 Module_test.py
