language: generic



dist: bionic


install:
    - apt install texlive-latex-base
    - source ./texlive/texlive_install.sh



cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive

before_script: cd $TRAVIS_BUILD_DIR/src/

script:
    - mkdir _build
# Prefix command with travis_wait x so it times out after 3 mins
    - travis_wait 3 pdflatex -output-directory _build ./src/fin_16.osi.tex

#after_script:
  #  - export PATH=/tmp/texlive/bin/x86_64-linux:$PATH
    #- tlmgr list --only-installed | grep -oP 'i \K.+?(?=:)'
