language:
  - generic

python:
  - 3.7
dist: bionic

before_install :
    - sudo apt-get update
    - sudo apt-get install python3

install:
    #- sudo apt-get install lmodern
    #- sudo apt install texlive-latex-base
    - source ./texlive/texlive_install.sh
    - pip install -r requirements.txt



cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive

#before_script: cd $TRAVIS_BUILD_DIR/src/

script:
    - python Module_test.py
