language: python

python:
    - 3.7

os: linux
dist: ubuntu
before_install:
    - sudo apt-get install texlive-full

install:
    - pip install -r requirements.txt

script:
    - python Module_test.py
