language:
  - generic


dist: bionic

addons:
  apt:
    sources:
      - deadsnakes # source required so it finds the package definition below
    packages:
      - python3.7.6

before_install :
    - sudo apt-get update

install:
    #- sudo apt-get install lmodern
    #- sudo apt install texlive-latex-base
    - source ./texlive/texlive_install.sh
    - pip3 install -r requirements.txt



cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive

#before_script: cd $TRAVIS_BUILD_DIR/src/

script:
    - python Module_test.py
