language: generic



dist: bionic

before_install: sudo apt-get update
install:
    - sudo apt install texlive-latex-base


script:
    - mkdir _build
# Prefix command with travis_wait x so it times out after 3 mins
    - travis_wait 3 pdflatex -output-directory _build ./src/main.tex

#after_script:
  #  - export PATH=/tmp/texlive/bin/x86_64-linux:$PATH
    #- tlmgr list --only-installed | grep -oP 'i \K.+?(?=:)'
